{% extends "maleteo/maleteo.html.twig" %}

{% block form %}
	<div class="the-form">

		<h1 class="the-form__title heading3">Gracias por tu peticion</h1><br>

		<a href="{{path("postForm")}}"><input type="button" class="the-form__btn btn btn-lg btn-primary" value="Volver"></a>

	</div>
{% endblock %}
