{% extends "maleteo/maleteo.html.twig" %}

{% block form %}
	<div class="the-form">
		<form action="{{ path("postForm") }}" method="post">
			<p class="the-form__title heading3">
				Solicita una demo
			</p>

			<div class="the-form__group">
				<label for="name">
					Name
				</label>
				<input type="text" id="name" class="the-form__input" placeholder="Geralt of Rivia" name="nombre">
			</div>

			<div class="the-form__group">
				<label for="name">
					Email
				</label>
				<input type="email" id="name" class="the-form__input" placeholder="geralt@thewitcher.com" name="mail">
			</div>

			<div class="the-form__group">
				<label for="city">
					City
				</label>
				<select name="ciudad" id="city" class="the-form__input the-form__select">
					<option value="madrid">Madrid</option>
					<option value="hurraco">Puerto Hurraco</option>
					<option value="mallorca">Palma de Mallorca</option>
				</select>
			</div>

			<div class="the-form__group the-form__group_checkbox">
				<input type="checkbox" id="privacity">
				<label for="privacity">
					Aceptas la
					<a href="#">política de privacidad</a>
				</label>
			</div>

			<input type="submit" class="the-form__btn btn btn-lg btn-primary" value="Enviar">
		</form>
	</div>
{% endblock %}
