<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>
			{% block title %}Maleteo!
			{% endblock %}
		</title>
		{% block styles %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
			<link href="https://fonts.googleapis.com/css?family=Catamaran:400,500&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="{{asset("assets/styles/styles.css")}}">
		{% endblock %}
	</head>

	<body>
		<div class="wrapper">
			<div class="container-fluid">
				<header class="header">
					<img src="{{asset("assets/img/logo.svg")}}" alt="Maleteo">
					<a href="{{path("app_logout")}}"><input type="button" class="the-form__btn btn btn-lg btn-primary" value="Cerrar Sesion"></a>

				</header>
			</div>
		</div>
		<main>
			<div class="jumbo">
				<div class="wrapper">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6">
								<div class="jumbo__ww-title">
									<div class="jumbo__w-title">
										<h1 class="jumbo__title heading1">
											Gana dinero guardando equipaje a viajeros como tu
										</h1>
										<ul class="jumbo__app-btns">
											<li>
												<a href="#">
													<img src="assets/img/app-store.svg" alt="" class="jumbo__app-btn">
												</a>
											</li>
											<li>
												<a href="">
													<img src="assets/img/google-play.svg" alt="" class="jumbo__app-btn">
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper">
				{% block cuerpo %}
					<div class="container-fluid">

						<section class="howworks">
							<h2 class="howworks__title heading2">
								¿Cómo funciona?
							</h2>

							<ol class="howworks__steps row">
								<li class="col-md-4">
									<div class="howworks__step">
										<div class="howworks__step-w-bola">
											<div class="howworks__step-bola">
												<span class="heading3">1</span>
											</div>
										</div>

										<div class="howworks__step-w-txt">
											<p class="howworks__step-title heading3">
												Preguntanos
											</p>
											<p class="howworks__step-txt">
												Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
											</p>
										</div>
									</div>
								</li>
								<li class="col-md-4">
									<div class="howworks__step">
										<div class="howworks__step-w-bola">
											<div class="howworks__step-bola">
												<span class="heading3">2</span>
											</div>
										</div>
										<div class="howworks__step-w-txt">
											<p class="howworks__step-title heading3">
												Date de alta
											</p>
											<p class="howworks__step-txt">
												Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
											</p>
										</div>
									</div>
								</li>
								<li class="col-md-4">
									<div class="howworks__step">
										<div class="howworks__step-w-bola">
											<div class="howworks__step-bola">
												<span class="heading3">3</span>
											</div>
										</div>
										<div class="howworks__step-w-txt">
											<p class="howworks__step-title heading3">
												Empieza a disfrutar
											</p>
											<p class="howworks__step-txt">
												Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados.
											</p>
										</div>
									</div>
								</li>
							</ol>
						</section>

						<section class="app-form">
							<div class="row">
								<div class="col-md-5">
									<div class="app-form__w-app-img">
										<img src="assets/img/iPhoneX.png" srcset="assets/img/iPhoneX@2x.png 2x, assets/img/iPhoneX.png 1x" alt="" class="app-form__app-img">
									</div>
								</div>
								<div class="col-md-5 col-md-offset-1">
									{% block form %}{% endblock %}
								</div>

							</div>
						</div>
					{% endblock %}
				</section>
				<a href="{{path("reviews")}}"><input type="button" class="the-form__btn btn btn-lg btn-primary" value="Opiniones"></a>
				<a href="{{path("admin_peticiones")}}"><input type="button" class="the-form__btn btn btn-lg btn-primary" value="Ver peticiones (si fuera admin)"></a>
				<a href="{{path("admin_review")}}"><input type="button" class="the-form__btn btn btn-lg btn-primary" value="Ver opiniones (si fuera admin)"></a>


				<section class="opinions">
					<h2 class="opinions__title heading2">
						Opiniones de otros guardianes
					</h2>
					<ul class="row">
						<li class="col-md-4">
							<div class="opinion">
								<blockquote class="opinion__blq simple-bubble text-large">
									Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
								</blockquote>
								<p class="opinion__author text-large">
									Sergio Garnacho
								</p>
								<p class="opinion__author-address">
									Tetuán, Madrid
								</p>
							</div>
						</li>
						<li class="col-md-4">
							<div class="opinion">
								<blockquote class="opinion__blq simple-bubble text-large">
									Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
								</blockquote>
								<p class="opinion__author text-large">
									Sergio Garnacho
								</p>
								<p class="opinion__author-address">
									Tetuán, Madrid
								</p>
							</div>
						</li>
						<li class="col-md-4">
							<div class="opinion">
								<blockquote class="opinion__blq simple-bubble text-large">
									Tras el enorme éxito internacional de su primera colaboración, “Bailar”, que ganó un galardón en los Premios
								</blockquote>
								<p class="opinion__author text-large">
									Sergio Garnacho
								</p>
								<p class="opinion__author-address">
									Tetuán, Madrid
								</p>
							</div>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</body>
</html></main><footer class="footer">
<div class="wrapper">
	<div class="container-fluid">
		<img src="{{asset("assets/img/logo.svg")}}" alt="Maleteo" class="footer__logo">
		<p class="footer__claim">
			Hecho con ❤️en Madrid
		</p>
	</div>
</div></footer></body></html>
