{% extends "maleteo/maleteo.html.twig" %}

{% block title %}
	Opiniones
{% endblock %}

{% block cuerpo %}
	<div class="the-form">
		<form action="{{ path("reviews") }}" method="post" id="reviewform">
			<p class="the-form__title heading3">
				Dinos qué te ha parecido:
			</p>

			<div class="the-form__group">
				<label for="name">
					Name
				</label>
				<input type="text" id="name" class="the-form__input" placeholder="Geralt of Rivia" name="nombre">
			</div>

			<div class="the-form__group">
				<label for="name">
					Comments
				</label>
				<textarea name="text" id="name" cols="30" rows="10" form="reviewform" placeholder="Ingresa aqui tus comentarios" class="the-form__input"></textarea>
				{#                     <input type="text"
												                          id="name"
												                          class="the-form__input"
												                          placeholder="Ingresa aquí tus comentarios"
												                          name="text"> #}
			</div>

			<div class="the-form__group">
				<label for="city">
					City
				</label>
				<select name="ciudad" id="city" class="the-form__input the-form__select">
					<option value="madrid">Madrid</option>
					<option value="hurraco">Puerto Hurraco</option>
					<option value="mallorca">Palma de Mallorca</option>
				</select>
			</div>

			<input type="submit" class="the-form__btn btn btn-lg btn-primary" value="Enviar">

		</form>
		<a href="{{path("postForm")}}"><input type="button" class="the-form__btn btn btn-lg btn-primary" value="Volver"></a>

	</div>

{% endblock %}
