{% extends "maleteo/maleteo.html.twig" %}

{% block cuerpo %}

	<h2 class="howworks__title heading2">
		Opiniones
	</h2>


	{% for reviews in opinion %}
		<blockquote class="opinion__blq simple-bubble text-large">
			Nombre :
			{{reviews.nombre}}
			<br>
			Ciudad:
			{{reviews.ciudad}}
			<br>
			{{reviews.opinion}}
			<br>
		</blockquote>

		{#     <li>Nombre : {{request.name}} , Email: {{request.email}} , Ciudad: {{request.ciudad}}</li>
						 #}
	{% endfor %}


	<div>
		<a href="{{path("postForm")}}"><input type="button" class="the-form__btn btn btn-lg btn-primary" value="Volver"></a>

	</div>

{% endblock %}
