{% extends "maleteo/maleteo.html.twig" %}

{% block cuerpo %}

	<h2 class="howworks__title heading2">
		Peticiones
	</h2>


	{% for request in peticion %}
		<blockquote class="opinion__blq simple-bubble text-large">
			Nombre :
			{{request.name}}
			<br>
			Email:
			{{request.email}}
			<br>
			Ciudad:
			{{request.ciudad}}
			<br>
		</blockquote>

		{#     <li>Nombre : {{request.name}} , Email: {{request.email}} , Ciudad: {{request.ciudad}}</li>
		 #}
	{% endfor %}


	<div>
		<a href="{{path("postForm")}}"><input type="button" class="the-form__btn btn btn-lg btn-primary" value="Volver"></a>

	</div>

{% endblock %}
